{# templates/bundles/TwigBundle/Exception/404.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Page Not Found</title>
</head>
<body>
<h1>Oops! The page you are looking for does not exist.</h1>
<p>It seems we can’t find what you’re looking for. You might want to return to the <a href="{{ path('task_index')
    }}">homepage</a>.</p>
</body>
</html>